.actions{
  display: flex;
  flex-direction: row;
  gap: 8px;

  :first-child{
    color: white;
    background-color: var(--red);
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    height: fit-content;

    &:hover {
      background-color: var(--cherry);
    }
  }

  :nth-child(2){
    color: white;
    border: none;
    background-color: var(--mint);
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    height: fit-content;

    &:hover{
      background-color: var(--teal);
    }
  }
}

